.footer{
    background-color: #23282d;
    color: aliceblue;
    text-align: center;
    padding: 20px;

}

.footer ul{
    text-align: center;
    list-style-type: none;
}

.footer h6{
    margin-top: 15px;
    font-size: 20px;
    color: #b4b7ba;
}

.footer h5{
    margin-bottom: 15px;
    font-size: 15px !important;
}

.footer h4{
    text-align: center;
    margin-top: 15px;
    padding-left: 32px;
    color: rgb(207, 238, 198, 0.69);
}

.SMletter-spacing{
    letter-spacing: 6px;
}